[submodule "beast"]
	path = beast
	url = https://github.com/boostorg/beast
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/podofo"]
	path = external/podofo
	url = https://github.com/podofo/podofo
[submodule "external/llama.cpp"]
	path = inference/external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
